{% extends 'agroia/main.html'%}
{% load static %}
{% block content%}

<h3 style="text-align: center">Welcome</h3>
<div class="row">
  {% if messages %}
    {% for message in messages %}
    <div class="col s8 offset-s2 m6 offset-m3 materialert {{message.tags}}">
        <div class="material-icons">{{message.tags}}_outline</div>
        {{message}}
    </div>
    {% endfor%}
  {% endif %}

  {% if form.errors %}
    <div class="col s8 offset-s2 m6 offset-m3 materialert error">
      <div class="material-icons ">error_outline</div>
            {{form.errors}}
    </div>
  {% endif %}
  <div class="col s10 offset-s1 m8 offset-m2 ">
    <div class="card">
      <div class="card-content white-text">
        <form action="" method='POST'>
          {% csrf_token %}
        <span class="card-title center-align">Login</span>
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">account_circle</i>
            <input name="username" id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">vpn_key</i>
            <input name="password" id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
      </div>
      <div class="center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
          <i class="material-icons right">send</i>
        </button>
        <br><br>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="row">
    <div class="col s4">
        <!-- Promo Content 1 goes here -->
        <div class="center">
            <i class="large material-icons" style="color: #EE6E73">flash_on</i>
            <p>Quickly upload and evaluate images</p>
            <p class="light center">Agroia evaluates with pre-trained models your crop images in an instant</p>
        </div>
    </div>

    <div class="col s4">
        <!-- Promo Content 2 goes here -->
        <div class="center">
            <i class="large material-icons" style="color: orange">camera</i>
            <p>Upload and save your pre-trained models</p>
            <p class="light center">Easy to use online</p>
        </div>
    </div>

    <div class="col s4">
        <!-- Promo Content 3 goes here -->
        <div class="center">
            <i class="large material-icons" style="color: #7e7ec3">chrome_reader_mode</i>
            <p>One place to share trained AI models</p>
            <p class="light center">Organized, available and downloadable</p>
        </div>
    </div>
</div>
{% endblock %}
